# Python Essentials
This notebook along with the workshop only provides the bare essentials to get you started in programming, finance and algorithmic trading. It does not in anyway replace proper computer science degree that develop much broader cognitive skills. In fact a good place to start learning computer science is [code](https://code.org/). 
The training below is adopted from the Python excellent [online reference.](https://docs.python.org/2/tutorial/controlflow.html) 

## Learning Outcomes

At the end of the workshop, students would have gained an appreciation and hand-ons practical experience on the following topics:
* Python Environment
  * Interactive and immediate feedback
  * Variable Names
  * Operators
  * `Print` statement
  * Getting input from users
  * modules and dot notation
  * Importing library
  * Variables and pass-by-reference
* Data Types in Python
  * Numeric
  * Floating Point
  * Integers
  * Boolean
  * Strings
  * Lists
    * range vs xrange
    * Slicing
    * List, set and dict comprehension
  * Tuples
  * Dictionary
  * Dates and times
  * Sets
* Basic Introduction to OOP
  * objects
  * class
  * methods
* Basic Introduction to Function
  * Name scope
* Where to from here

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Python Environment

## Interactive and Immediate Feedback

In [2]:
3 + 4   # Receives output immediately

7

## Variable Names
Variable names can only contain the following: 
* Numbers. 
* Letters (Python is case sensitive). 
* Underscores.

## Operators

|Operator  | Description | Operator  | Description |
|---|---|---|---|
| + | Addition | - | Substration |
| * | Multiplication | \*\* | Exponent |
| / | Division | // | Floor division |
| % | Modulus | < | Smaller than |
| > | Greater than | <= | Small than and equal to |
| >= | Greater than and equal to | == | Equal |
| != | Not equal to | <> | Not equal to | 

What about these? `<<  >>  &  |  ^  ~`

In [3]:
3 < 2

False

In [4]:
3.0 > 44

False

In [5]:
56 == 75

False

In [6]:
223 != 33

True

## Print Statement

In [7]:
a = 5
print a

5

In [8]:
print "Hello world"

Hello world

In [9]:
%run data/hello_world.py

Hello world

## Getting input from users

In [10]:
cust_name = raw_input("Give me your name ")

Give me your name Bob

In [11]:
print cust_name

Bob

## Modules and Dot Notation

Modules is an object oriented programming term for a collection of functions. The dot notation allows you to access the in-built function in the module. 

`obj.attribute_name`

Example:

In [12]:
import numpy as np    # Importing the numpy module

In [13]:
np.mean([3, 5, 4])    # Access the mean function within the numpy module

4.0

You can either further use `dir(np)` or  `np.<Tab>` to obtain a list of attributes associated with the object.

## Imports

Python contains a lot of in-built functions. However, from time to time, you will need to use external libraries to solve specific problems. With `imports`, you can import or access functions and methods stored in a `.py` file in the same directory or active path.

In [14]:
# master.py
def sma(x):
    return np.mean(x)

def jump(x):
    return x * 3

In order to access the functions defined in `master.py`, we need to perform the following action

`import master`

Once we have performed the importing, we can then make use of the functions defined in the file.

## Variables and pass-by-reference

In [15]:
x = [5, 7, 2]         
# we are assigning / binding the list to the variable x. We are creating a reference to the list not copy

In [16]:
y = x

In this case, the data is not copied to y. Instead, both x and y both point to the same object. This is critical for memory management.

# Data Types in Python
## Numeric 
## Floating Point (float)
For floating data type, you must include a . (period, dot)

In [17]:
stock_price = 1                         # Here stock_price is our variable.
type(stock_price)

int

In [18]:
stock_price = 51.0
type(stock_price)

float

In [19]:
stock_price = float(1)
type(stock_price)

float

In [20]:
isinstance(stock_price, float)   # testing to see if a is a float

True

## Integers (int and long)
Integers range from $ -2^{31} $ to $ 2^{31}-1 $

In [21]:
stock_price = 1
type(stock_price)

int

In [22]:
stock_price = 1.0
type(stock_price)

float

In [23]:
stock_price = int(stock_price)
type(stock_price)

int

In [24]:
stock_price = long(1)
type(stock_price)

long

In [25]:
number_of_hours = 2
Time_taken = number_of_hours ** 128 # ** denotes exponential
Time_taken

340282366920938463463374607431768211456L

## Boolean (bool)
The Boolean data type is used to represent `true` and `false`.

In [26]:
rain_today = True
type(rain_today)

bool

In [27]:
rain_today = bool(1)
rain_today

True

In [28]:
rain_today = bool(0)
rain_today

False

In [29]:
print bool('zen')
print bool(0)
print bool('')
print bool({})

True
False
False
False

## Strings (str)

In [30]:
news = 'abc'
type(news)

str

### Slicing Strings

In [31]:
news = 'IBM reported a drop in revenue last quarter.'

In [32]:
print news[0]
print news[-1]
print news[5:10]
print len(news)
print news[:10]
print news[11:]

I
.
eport
44
IBM report
d a drop in revenue last quarter.

## Lists (list)
A list is a collection of objectives. Like string, lists can be *sliced*.

In [33]:
data_list = []
type(data_list)

list

In [34]:
data_list = [21.2, 24, 33.6, 64.0]
data_list

[21.2, 24, 33.6, 64.0]

In [35]:
data_list = [[21.2, 24, 33.6, 64.0],[0.71796434,  0.59814004,  0.68296814]]
data_list

[[21.2, 24, 33.6, 64.0], [0.71796434, 0.59814004, 0.68296814]]

In [36]:
data_list = [[1.5, 76, 13.05],['Mr. Brown','Mr. Lee']] # mixed data types
data_list

[[1.5, 76, 13.05], ['Mr. Brown', 'Mr. Lee']]

### range vs xrange

Range and xrange are both easy ways to create a list. The difference between the two functions:

xrange is very similar to range(), but returns an xrange object instead of a list. This is an opaque sequence type which yields the same values as the corresponding list, without actually storing them all simultaneously. Useful when memory is a problem.

In [37]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
xrange(10)            # notice it returns an xrange object

xrange(10)

In [39]:
for o in xrange(5):  # notice is unpacks when needed
    print o

0
1
2
3
4

### Slicing

In [40]:
selected_list = [10, 20, 30, 40, 50, 60, 70, 80]
selected_list

[10, 20, 30, 40, 50, 60, 70, 80]

In [41]:
print selected_list[0]
print selected_list[-1]
print selected_list[0:8:2]          # Starts at 0, ends at 7. Every 2nd element
print selected_list[::3]            # Give me every third element of a list
print selected_list[::-1]           # Reverse list

10
80
[10, 30, 50, 70]
[10, 40, 70]
[80, 70, 60, 50, 40, 30, 20, 10]

In [42]:
#selected_list[20]

In [43]:
data_list = [[1.5, 76, 13.05],['Mr. Brown','Mr. Lee']]
print data_list[0]
print data_list[1][1]
print data_list[0][1:3]
print data_list

[1.5, 76, 13.05]
Mr. Lee
[76, 13.05]
[[1.5, 76, 13.05], ['Mr. Brown', 'Mr. Lee']]

In [44]:
data_list.append([0.38138677,  0.15538644,  0.33813792,  0.41292643,  0.12815118]) 
# appends value to the list
data_list

[[1.5, 76, 13.05],
 ['Mr. Brown', 'Mr. Lee'],
 [0.38138677, 0.15538644, 0.33813792, 0.41292643, 0.12815118]]

In [45]:
len(data_list)                  # length of the list

3

In [46]:
data_list.extend(selected_list) # append selected_list to data_list
data_list

[[1.5, 76, 13.05],
 ['Mr. Brown', 'Mr. Lee'],
 [0.38138677, 0.15538644, 0.33813792, 0.41292643, 0.12815118],
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80]

In [47]:
data_list.pop(-1)               # removes last item

80

In [48]:
data_list

[[1.5, 76, 13.05],
 ['Mr. Brown', 'Mr. Lee'],
 [0.38138677, 0.15538644, 0.33813792, 0.41292643, 0.12815118],
 10,
 20,
 30,
 40,
 50,
 60,
 70]

In [49]:
data_list.remove(10)            # removes the value 10 from the list
data_list

[[1.5, 76, 13.05],
 ['Mr. Brown', 'Mr. Lee'],
 [0.38138677, 0.15538644, 0.33813792, 0.41292643, 0.12815118],
 20,
 30,
 40,
 50,
 60,
 70]

### List, Set and Dict Comprehension

List comprehensions provide a concise way to create lists. Say we have an existing list, and we would like to extract certain information which satisfy some specific condition, list, set and dict comprehension is the way to do it.

In [50]:
# For example, assume we want to create a list of squares, like:
squares = []
for x in range(10):
        squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
# We can obtain the same result with:
squares = [x ** 2 for x in range(10)]

A list comprehension consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The result will be a new list resulting from evaluating the expression in the context of the `for` and `if` clauses which follow it.

## Tuples

like list except the value cannot be changed (It is immutable)

In [52]:
tuple_data = (2, 4, 6, 8, 10)
print type(tuple_data)
print tuple_data[1]
print tuple_data[3:4]

<type 'tuple'>
4
(8,)

In [53]:
#tuple_data[1] = 99

## Dictionary (dict)

In [54]:
Stock_list = {'Company' : ['EZRA', 'ThaiBev'], 'Price': [0.1040, 0.75]}
print type(Stock_list)
print Stock_list

<type 'dict'>
{'Company': ['EZRA', 'ThaiBev'], 'Price': [0.104, 0.75]}

In [55]:
Stock_list['Volume'] = [80055300, 27055500]
Stock_list

{'Company': ['EZRA', 'ThaiBev'],
 'Price': [0.104, 0.75],
 'Volume': [80055300, 27055500]}

In [56]:
del Stock_list['Price']
Stock_list

{'Company': ['EZRA', 'ThaiBev'], 'Volume': [80055300, 27055500]}

## Dates and times

In [57]:
from datetime import datetime, date, time

In [58]:
tell_time = datetime(2006, 06, 02, 07, 30, 10)

In [59]:
tell_time.day

2

In [60]:
tell_time.hour

7

In [61]:
tell_time.date()

datetime.date(2006, 6, 2)

In [62]:
tell_time.time()

datetime.time(7, 30, 10)

In [63]:
tell_time.strftime("%Y/%d/%m %H:%M")

'2006/02/06 07:30'

In [64]:
datetime.strptime('20001218', '%Y%m%d')

datetime.datetime(2000, 12, 18, 0, 0)

In [65]:
tell_time.replace(minute=10, second=30)

datetime.datetime(2006, 6, 2, 7, 10, 30)

In [66]:
tell_time2 = datetime(2000, 12, 18, 5, 30, 20)

In [67]:
diff = tell_time2 - tell_time

In [68]:
diff

datetime.timedelta(-1993, 79210)

In [69]:
type(diff)

datetime.timedelta

## Sets

In [70]:
first_list = {4, 7, 3, 7, 7, 2, 2, 4, 1, 7}
second_list = {7, 4, 8, 4, 1, 6, 5, 7, 8, 6}

In [71]:
set(first_list)

{1, 2, 3, 4, 7}

In [72]:
first_list | second_list                  # union / or

{1, 2, 3, 4, 5, 6, 7, 8}

In [73]:
first_list.union(second_list)

{1, 2, 3, 4, 5, 6, 7, 8}

In [74]:
first_list & second_list                  # intersection / and

{1, 4, 7}

In [75]:
first_list.intersection(second_list)

{1, 4, 7}

In [76]:
first_list - second_list                  # difference

{2, 3}

In [77]:
first_list ^ second_list                  # symmetric difference / xor

{2, 3, 5, 6, 8}

# Basic Introduction to Object Oriented Programming (OOP)

More can be found in python [documentation](https://docs.python.org/3/tutorial/classes.html)

Let's use the following example to highlight some of the key words in OOP

`Objects: American Foxhound, ..`

`Class: Dog()`

`Methods: add_trick`

In [78]:
class Dog(object):
    '''A simple dog class example'''
    kind = 'canine'           # class variable shared by all instances

    def __init__(self, name): # constructor. implicit called when instantiated.
        self.name = name
        self.tricks = []      # creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.append(trick)

In [79]:
d = Dog('American Foxhound')

To invoke the functions / methods within a class, you use the `dot notation`:

In [80]:
d.name

'American Foxhound'

In [81]:
d.kind

'canine'

In [82]:
d.add_trick('jump')

In [83]:
d.tricks

['jump']

In [84]:
d.__doc__

'A simple dog class example'

A class definition starts with the keyword **`class`**

**`methods`** are functions defined within a class.

Class by itself does not create any **objects** / instances of the class. To create an object / instance of a dog, as the example showed, you need to invoke (call upon) the class name as you do with a normal function. You can have multiple instances of the same class.

Class Definition Syntax

`class ClassName`:

`< statement-1 >`

...


`< statement-N >`

Class objects support two kinds of operations: `attribute references` and `instantiation`.

`Attribute references` use the standard syntax used for all attribute references in Python: `obj.name`. Valid attribute names are all the names that were in the class’s namespace when the class object was created. 

Example below are from Python [online reference](https://docs.python.org/3/tutorial/classes.html)

In [85]:
class MyClass:
    """A simple example class"""
    i = 12345
    def f(self):
        return 'hello world'

`MyClass.i` and `MyClass.f` are valid attribute references, returning an integer and a function object, respectively.

Class attributes can also be assigned to, so you can change the value of `MyClass.i` by assignment. 

`__doc__` is also a valid attribute, returning the docstring belonging to the class: `"A simple example class"`.

Class *instantiation* uses function notation. Just pretend that the class object is a parameterless function that returns a new instance of the class. For example (assuming the above class):

In [86]:
x = MyClass()

creates a new **instance** of the class and assigns this object to the local variable `x`.

The instantiation operation (“calling” a class object) creates an empty object. Many classes like to create objects with instances customized to a specific initial state. Therefore a class may define a special method named `__init__()`, like this:

In [87]:
def __init__(self):
    self.data = []

When a class defines an `__init__()` method, class instantiation automatically invokes `__init__()` for the newly-created class instance. So in this example, a new, initialized instance can be obtained by:

In [88]:
x = MyClass()

Of course, the `__init__()` method may have arguments for greater flexibility. In that case, arguments given to the class instantiation operator are passed on to `__init__()`. For example,

In [89]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart

In [90]:
x = Complex(3.0, -4.5)

In [91]:
x.r, x.i

(3.0, -4.5)

# Basic Introduction to Function

Purpose of writing function:

* How do you eat an elephant? One bite at a time. The idea is to break down large problem into smaller manageable steps.

* Reuse code. Think `np.mean()`

* Keep our variable namespace clean

* Allow us to test small parts of our program in isolation from the rest.

In [92]:
def fv(pv, int, period):
    period = 1
    return pv * (1 + int) ** period

In [93]:
fv(1000, 0.02, period = 1)

1020.0

In [94]:
fv(1000, 0.02, period = 3)

1020.0

## Name scopes.

Notice in the examples above, the answers are the same despite the fact that the second example has period = 3. The reason being, we have predefined within the function period = 1 (Not a very good example but it gets the point across). The value of period only exist within the function. Once we exited the function, it no long exist. Note the example:

In [95]:
period

NameError: name 'period' is not defined

# Where to From Here

The internet is loaded with free and open source materials and guides on Python. Just Google your query. In face, a lot of lectures / professors / practitioners post guides, references and even codes for free. Here are some of them:

### Free Resources

1. Kevin Sheppard's online text **[Introduction to Python for Econometrics, Statistics and Data Analysis](https://www.kevinsheppard.com/images/0/09/Python_introduction.pdf)** as a reference. 

2. Charles Severance's text **[Python for Informatics](https://www.coursera.org/learn/python/supplement/AtKA1/textbook-python-for-informatics-exploring-information)** on coursera. 

### Not Free but Excellent Resources

3. Mart Lutz's **[Learning Python](http://shop.oreilly.com/product/0636920028154.do)

4. Wes McKinney's **[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)

**End of Lesson**